DB_HOST=localhost
DB_PORT=5432
DB_NAME=stocktaking
DB_USER=stocktaking
DB_PASSWORD=replace-with-local-password
TARKOV_DEV_ENDPOINT=https://api.tarkov.dev/graphql
TARKOV_DEV_CONNECT_TIMEOUT_MILLIS=5000
TARKOV_DEV_READ_TIMEOUT_MILLIS=15000
TARKOV_DEV_RETRY_COUNT=2
